<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databse and Memcache</title>
</head>
<body>
<h1>Pooja Narayan 1001508253</h1>
<form action="/createtable" method="post" enctype="multipart/form-data">
        Create the table in the RDS in AWS:
        <input type="submit" value="Create"> 
    </form>
<form action="/count" method="post" enctype="multipart/form-data">
        Create the table in the RDS in AWS:
        <input type="submit" value="count"> 
    </form>
<form action="/querydisplay" method="post">
Enter your choice :
<input type="text" name=text1>
<input type="text" name=text2>
<input type="text" name=text3>
<input type="submit" name=submit>
</form>
</body> 
</html>